<!DOCTYPE html>
<html>
        <head>
        <title>{{ page.metatitle }}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}worksprint/css/common.css" />
        {% block head_css %}{% endblock %}

        <script type="text/javascript" src="{{ STATIC_URL }}scripts/min/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/min/underscore.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/min/underscore.string.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/common.js"></script>
        {% block head_scripts %}{% endblock %}
            
</head>

<body>
{% block body %}
    
{% block title %}
    {% if page.title %}
        <h1 class="page_title">{% block page_title %}{{ page.title }}{% endblock %}</h1>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% endblock %}
{% block bottom_scripts %}{% endblock %}
</body>
</html>
