.timer .dial {
    font-size: 3em;
    font-weight: bold;
}

.timer .buttons button.rewind_button[disabled] {
        display: none;
}

.timer .divider.unvisible {
    visibility: hidden;
}

.timer .iterrupts {
    font-size: 1.5em;
}

.results
{
    margin-top: 15px;
}
    .results table {
        border-collapse: collapse;
    }

        .results table thead th {
            font-weight: bold;
        }

    .results table th,
    .results table td {
        padding: 3px;
        border: 1px solid #292929;
    }

    .results table caption {
        font-size: 1.2em;
        font-family: 'Georgia', serif;
        padding: 15px 0;
        text-align: left;
    }