{% extends "base.html" %}



{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}worksprint/css/timer.css" />
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/date.format.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/timer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/result-table.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/linker.js"></script>
{% endblock %}



{% block content%}
{% spaceless %}
<div class="timer">
    <div class="buttons"></div>

    <div class="dial">
        <span class="minutes">--</span>
        <span class="divider">:</span>
        <span class="seconds">--</span>
    </div>
    <div class="interrupts"></div>

    <div class="debug"></div>

    <div class="results"></div>
</div>
{% endspaceless %}

<script type="text/javascript">
(function() {
    var root = window;

    if (!root.Worksprint) { root.Worksprint = {}; }
    if (!root.Worksprint.Instances) { root.Worksprint.Instances = []; }

    var ins = {};

    ins.timer = new root.Worksprint.Timer();
    ins.resultTable = new root.Worksprint.ResultTable();
    ins.linker = new root.Worksprint.Linker({
        timer: ins.timer,
        resultTable: ins.resultTable
    });

    ins.linker.link();

    root.Worksprint.Instances.push(ins);

})();
</script>
{% endblock %}