{% extends "base.html" %}



{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}worksprint/css/timer.css" />
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/date.format.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/gears/clock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/gears/timer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/views/result-table.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}worksprint/scripts/linkers/result-table.js"></script>
{% endblock %}



{% block content%}
{% spaceless %}
<div class="timer">
    <div class="buttons"></div>

    <div class="dial">
        <span class="minutes">--</span>
        <span class="divider">:</span>
        <span class="seconds">--</span>
    </div>
    <div class="interrupts"></div>

    <div class="debug"></div>

    <div class="results"></div>
</div>
{% endspaceless %}

<script type="text/javascript">
(function() {

    var ins = {};

    ins.timer = new Worksprint.Gear.Timer();
    ins.resultTable = new Worksprint.View.ResultTable();
    ins.linker = new Worksprint.Linker.ResultTable({
        timer: ins.timer,
        resultTable: ins.resultTable
    });

    ins.linker.link();

    if (_.isUndefined(Worksprint.Instances)) {
        Worksprint.Instances = [];
    }
    Worksprint.Instances.push(ins);

})();
</script>
{% endblock %}